In [2]:
df = pd.read_excel("Iadeler listesi.xlsx")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15880 entries, 0 to 15879
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Type                 7940 non-null   object
 1   nOrderId             7940 non-null   float64
 2   cPostCode            7939 non-null   object
 3   Customer ID          7940 non-null   object
 4   ItemNumber           7938 non-null   object
 5   ItemTitle            6276 non-null   object
 6   dReceievedDate       7940 non-null   object
 7   cCountry             7940 non-null   object
 8   cCountryCode         7940 non-null   object
 9   cCurrency            7940 non-null   object
 10  source               7940 non-null   object
 11  subsource            7932 non-null   object
 12  Return Date          5102 non-null   object
 13  ReturnQty            7940 non-null   float64
 14  Category             2593 non-null   object
 15  ResendOrExchangeQty  7940 non-null   float64
 16  RMA Actioned         7940 non-null   float64
 17  Refund Amount        7940 non-null   float64
 18  Return Reason        2504 non-null   object
dtypes: float64(5), object(14)
memory usage: 2.3+ MB

In [4]:
dfed = pd.DataFrame(df)

In [5]:
dfed.dropna(axis = 0, how = 'all', inplace = True)

In [6]:
dfed

,Type,nOrderId,cPostCode,Customer ID,ItemNumber,ItemTitle,dReceievedDate,cCountry,cCountryCode,cCurrency,source,subsource,Return Date,ReturnQty,Category,ResendOrExchangeQty,RMA Actioned,Refund Amount,Return Reason
1,EXCHANGE,123242.0,CF11 0JE,C0012493,49215,Caimas 2980 120x170,2021-04-08 18:52:00,United Kingdom,GB,GBP,WOOCOMMERCE,https://www.the-rugs.com,19/08/2021 15:22,1.0,Size issue,1.0,1.0,0.00,small
3,EXCHANGE,124273.0,HX4 9HP,C0000946,49035-pr,Montana 3720 brown 160X230,25/08/2021 11:19,United Kingdom,GB,GBP,WOOCOMMERCE,https://www.the-rugs.com,2021-02-09 17:13:00,1.0,Item is fine,1.0,1.0,0.00,NaN
5,REFUND,100064.0,BT23 4PX,C0001051,153761726783-1958345997005,NaN,21/12/2019 13:45,United Kingdom,GB,GBP,EBAY,EBAY1,NaN,0.0,NaN,0.0,1.0,0.00,NaN
7,REFUND,100557.0,KW1 4YL,C0001314,153525972948-1992856209005,NaN,29/03/2020 13:14,United Kingdom,GB,GBP,EBAY,EBAY1,NaN,0.0,NaN,0.0,1.0,0.00,NaN
9,REFUND,100773.0,NG3 6PD,C0001313,153525972948-1997358422005,NaN,2020-08-04 11:57:00,United Kingdom,GB,GBP,EBAY,EBAY1,NaN,0.0,NaN,0.0,1.0,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15871,RETURNBOOKING,137836.0,wd187uh,C0030666,48162,Shaggy 381 turkis 140X200,2022-03-02 12:00:00,United Kingdom,GB,GBP,EBAY,EBAY1,2022-09-02 12:22:00,1.0,Quality issue,0.0,1.0,0.00,Quality issue
15873,RETURNBOOKING,138454.0,CV3 1NB,C0013520,2475,Rapsody 210 D-W 70x250,2022-08-02 16:36:00,United Kingdom,GB,GBP,EBAY,EBAY1,2022-10-02 10:55:00,1.0,No info,0.0,1.0,74.90,NaN
15875,RETURNBOOKING,138459.0,WV1 3RN,C0005820,2067,Gustavo 3222 brown 200X290,2022-08-02 17:05:00,United Kingdom,GB,GBP,EBAY,EBAY1,2022-10-02 17:26:00,1.0,NaN,0.0,1.0,0.00,NaN
15877,RETURNBOOKING,138479.0,AL2 3LG,C0015078,2679,Marakech 430 120x170,2022-08-02 20:04:00,United Kingdom,GB,GBP,EBAY,EBAY1,2022-10-02 14:55:00,1.0,Didnt like,0.0,1.0,47.41,didnt like
15879,RETURNBOOKING,138479.0,AL2 3LG,C0015078,2680,Marakech 430 160x230,2022-08-02 20:04:00,United Kingdom,GB,GBP,EBAY,EBAY1,2022-10-02 14:55:00,1.0,Didnt like,0.0,1.0,75.90,didnt like

In [7]:
dfed.reset_index(drop=True, inplace=True)

In [8]:
dfed.sample(11)

,Type,nOrderId,cPostCode,Customer ID,ItemNumber,ItemTitle,dReceievedDate,cCountry,cCountryCode,cCurrency,source,subsource,Return Date,ReturnQty,Category,ResendOrExchangeQty,RMA Actioned,Refund Amount,Return Reason
2056,REFUND,143173.0,Redacted,C0000001,2679,Marakech 430 120x170,31/03/2022 07:36,United Kingdom,GB,GBP,AMAZON,Mynes Home Ltd,13/04/2022 09:12,0.0,NaN,0.0,1.0,49.900000,NaN
4184,REFUND,174886.0,Redacted,C0000001,2994,Eco 700 GREY 140x200,29/09/2022 10:27,United Kingdom,GB,GBP,AMAZON,Mynes Home Ltd,NaN,0.0,NaN,0.0,1.0,5.720000,NaN
592,REFUND,123054.0,Redacted,C0000001,38650200000000,NaN,31/07/2021 16:46,United Kingdom,GB,GBP,AMAZON,Mynes Home Ltd,NaN,0.0,NaN,0.0,1.0,79.900000,NaN
561,REFUND,122703.0,Redacted,C0000001,2246,W.Shaggy 190-SILVER 66x120,24/07/2021 09:46,United Kingdom,GB,GBP,AMAZON,Mynes Home Ltd,NaN,0.0,NaN,0.0,1.0,19.990000,NaN
2117,REFUND,144337.0,CV37 7RD,C0009535,2899,Myshaggy 381 Brown 120 cm Round,2022-09-04 06:09:00,United Kingdom,GB,GBP,WOOCOMMERCE,https://www.the-rugs.com,28/04/2022 15:22,0.0,NaN,0.0,1.0,44.900000,NaN
4593,REFUND,179959.0,N1 8NY,C0025772,2485,Rapsody 220 W-D 200x280,24/10/2022 18:35,United Kingdom,GB,GBP,WOOCOMMERCE,https://www.the-rugs.com,NaN,0.0,NaN,0.0,1.0,39.990002,NaN
5754,RETURN,126683.0,Redacted,C0000001,49216,Caimas 2980 160x230,14/10/2021 13:13,United Kingdom,GB,GBP,AMAZON,Mynes Home Ltd,25/10/2021 16:00,1.0,Size issue,0.0,1.0,79.900000,Customer measured it wrong.
5448,RETURN,120133.0,Redacted,C0000001,48897-my,CARINA 6900 Green 160x230,2021-12-06 15:03:00,United Kingdom,GB,GBP,AMAZON,Mynes Home Ltd,28/06/2021 21:27,1.0,No info,0.0,1.0,69.900000,Incompatible or not useful for intended purpose
2108,REFUND,144130.0,Redacted,C0000001,2584,Eco 200 Beige 160x230,2022-07-04 09:29:00,United Kingdom,GB,GBP,AMAZON,Mynes Home Ltd,NaN,0.0,NaN,0.0,1.0,79.900000,NaN
1967,REFUND,141652.0,PE20 4ZD,C0000574,28409--LIN001005,NaN,14/03/2022 15:40,United Kingdom,GB,GBP,WOOCOMMERCE,https://www.the-rugs.com,NaN,0.0,NaN,0.0,1.0,0.000000,NaN
3747,REFUND,169277.0,63263,C0001095,25762--2861,NaN,27/08/2022 06:37,Germany,DE,GBP,WOOCOMMERCE,https://www.the-rugs.com,NaN,0.0,NaN,0.0,1.0,0.000000,NaN

In [9]:
dfed['RMA Actioned'].value_counts(dropna = False)

1.0    7940
Name: RMA Actioned, dtype: int64

In [10]:
dfed.drop(columns=['cCountryCode', 'RMA Actioned'], inplace=True)

In [11]:
dfed.head()

,Type,nOrderId,cPostCode,Customer ID,ItemNumber,ItemTitle,dReceievedDate,cCountry,cCurrency,source,subsource,Return Date,ReturnQty,Category,ResendOrExchangeQty,Refund Amount,Return Reason
0,EXCHANGE,123242.0,CF11 0JE,C0012493,49215,Caimas 2980 120x170,2021-04-08 18:52:00,United Kingdom,GBP,WOOCOMMERCE,https://www.the-rugs.com,19/08/2021 15:22,1.0,Size issue,1.0,0.0,small
1,EXCHANGE,124273.0,HX4 9HP,C0000946,49035-pr,Montana 3720 brown 160X230,25/08/2021 11:19,United Kingdom,GBP,WOOCOMMERCE,https://www.the-rugs.com,2021-02-09 17:13:00,1.0,Item is fine,1.0,0.0,NaN
2,REFUND,100064.0,BT23 4PX,C0001051,153761726783-1958345997005,NaN,21/12/2019 13:45,United Kingdom,GBP,EBAY,EBAY1,NaN,0.0,NaN,0.0,0.0,NaN
3,REFUND,100557.0,KW1 4YL,C0001314,153525972948-1992856209005,NaN,29/03/2020 13:14,United Kingdom,GBP,EBAY,EBAY1,NaN,0.0,NaN,0.0,0.0,NaN
4,REFUND,100773.0,NG3 6PD,C0001313,153525972948-1997358422005,NaN,2020-08-04 11:57:00,United Kingdom,GBP,EBAY,EBAY1,NaN,0.0,NaN,0.0,0.0,NaN

In [12]:
dfed.dReceievedDate = dfed.dReceievedDate.apply(pd.to_datetime)

In [13]:
dfed['Return Date'] = dfed['Return Date'].apply(pd.to_datetime)

In [14]:
dfed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7940 entries, 0 to 7939
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Type                 7940 non-null   object
 1   nOrderId             7940 non-null   float64
 2   cPostCode            7939 non-null   object
 3   Customer ID          7940 non-null   object
 4   ItemNumber           7938 non-null   object
 5   ItemTitle            6276 non-null   object
 6   dReceievedDate       7940 non-null   datetime64[ns]
 7   cCountry             7940 non-null   object
 8   cCurrency            7940 non-null   object
 9   source               7940 non-null   object
 10  subsource            7932 non-null   object
 11  Return Date          5102 non-null   datetime64[ns]
 12  ReturnQty            7940 non-null   float64
 13  Category             2593 non-null   object
 14  ResendOrExchangeQty  7940 non-null   float64
 15  Refund Amount        7940 non-null   float64
 16  Return Reason        2504 non-null   object
dtypes: datetime64[ns](2), float64(4), object(11)
memory usage: 1.0+ MB

In [15]:
dfed.head(7)

,Type,nOrderId,cPostCode,Customer ID,ItemNumber,ItemTitle,dReceievedDate,cCountry,cCurrency,source,subsource,Return Date,ReturnQty,Category,ResendOrExchangeQty,Refund Amount,Return Reason
0,EXCHANGE,123242.0,CF11 0JE,C0012493,49215,Caimas 2980 120x170,2021-04-08 18:52:00,United Kingdom,GBP,WOOCOMMERCE,https://www.the-rugs.com,2021-08-19 15:22:00,1.0,Size issue,1.0,0.0,small
1,EXCHANGE,124273.0,HX4 9HP,C0000946,49035-pr,Montana 3720 brown 160X230,2021-08-25 11:19:00,United Kingdom,GBP,WOOCOMMERCE,https://www.the-rugs.com,2021-02-09 17:13:00,1.0,Item is fine,1.0,0.0,NaN
2,REFUND,100064.0,BT23 4PX,C0001051,153761726783-1958345997005,NaN,2019-12-21 13:45:00,United Kingdom,GBP,EBAY,EBAY1,NaT,0.0,NaN,0.0,0.0,NaN
3,REFUND,100557.0,KW1 4YL,C0001314,153525972948-1992856209005,NaN,2020-03-29 13:14:00,United Kingdom,GBP,EBAY,EBAY1,NaT,0.0,NaN,0.0,0.0,NaN
4,REFUND,100773.0,NG3 6PD,C0001313,153525972948-1997358422005,NaN,2020-08-04 11:57:00,United Kingdom,GBP,EBAY,EBAY1,NaT,0.0,NaN,0.0,0.0,NaN
5,REFUND,100791.0,BR2 8JT,C0000586,153796239663-1997506107005,NaN,2020-08-04 18:31:00,United Kingdom,GBP,EBAY,EBAY1,NaT,0.0,NaN,0.0,0.0,NaN
6,REFUND,100811.0,N8 7EB,C0000040,5261--18186,NaN,2020-09-04 11:33:00,United Kingdom,GBP,WOOCOMMERCE,https://www.the-rugs.com,NaT,0.0,NaN,0.0,0.0,NaN

In [16]:
dfed.isnull().sum()

Type                      0
nOrderId                  0
cPostCode                 1
Customer ID               0
ItemNumber                2
ItemTitle              1664
dReceievedDate            0
cCountry                  0
cCurrency                 0
source                    0
subsource                 8
Return Date            2838
ReturnQty                 0
Category               5347
ResendOrExchangeQty       0
Refund Amount             0
Return Reason          5436
dtype: int64

In [18]:
dfed['source'].value_counts(dropna = False)

AMAZON            4731
WOOCOMMERCE       2537
EBAY               332
ETSY               247
WAYFAIRCHANNEL      70
DIRECT              16
AMAZON FBA           5
OnBuy.com            2
Name: source, dtype: int64

In [19]:
dfed['subsource'].value_counts(dropna = False)

Mynes Home Ltd              4717
https://www.the-rugs.com    2539
EBAY1                        332
Etsy-TheRugs                 247
EESER                         70
Mynes Home Ltd Germany        10
NaN                            8
Mynes Home Ltd France          7
Mynes Home Ltd.                4
Mynes Home Ltd Spain           4
Onbuy                          2
Name: subsource, dtype: int64

In [20]:
dfed.groupby('subsource').sum()

,nOrderId,ReturnQty,ResendOrExchangeQty,Refund Amount
subsource,,,,
EBAY1,46245592.0,114.0,0.0,11154.300000
EESER,10848276.0,1.0,0.0,2181.572400
Etsy-TheRugs,37805058.0,90.0,0.0,12265.570000
Mynes Home Ltd,716092150.0,1614.0,1.0,198725.670000
Mynes Home Ltd France,933308.0,0.0,0.0,281.240000
Mynes Home Ltd Germany,1232944.0,0.0,0.0,712.900000
Mynes Home Ltd Spain,490219.0,0.0,0.0,21.490000
Mynes Home Ltd.,436333.0,0.0,0.0,33.270000
Onbuy,308793.0,0.0,0.0,29.400000
https://www.the-rugs.com,390189871.0,892.0,2.0,132594.160039

In [21]:
dfed.head()

,Type,nOrderId,cPostCode,Customer ID,ItemNumber,ItemTitle,dReceievedDate,cCountry,cCurrency,source,subsource,Return Date,ReturnQty,Category,ResendOrExchangeQty,Refund Amount,Return Reason
0,EXCHANGE,123242.0,CF11 0JE,C0012493,49215,Caimas 2980 120x170,2021-04-08 18:52:00,United Kingdom,GBP,WOOCOMMERCE,https://www.the-rugs.com,2021-08-19 15:22:00,1.0,Size issue,1.0,0.0,small
1,EXCHANGE,124273.0,HX4 9HP,C0000946,49035-pr,Montana 3720 brown 160X230,2021-08-25 11:19:00,United Kingdom,GBP,WOOCOMMERCE,https://www.the-rugs.com,2021-02-09 17:13:00,1.0,Item is fine,1.0,0.0,NaN
2,REFUND,100064.0,BT23 4PX,C0001051,153761726783-1958345997005,NaN,2019-12-21 13:45:00,United Kingdom,GBP,EBAY,EBAY1,NaT,0.0,NaN,0.0,0.0,NaN
3,REFUND,100557.0,KW1 4YL,C0001314,153525972948-1992856209005,NaN,2020-03-29 13:14:00,United Kingdom,GBP,EBAY,EBAY1,NaT,0.0,NaN,0.0,0.0,NaN
4,REFUND,100773.0,NG3 6PD,C0001313,153525972948-1997358422005,NaN,2020-08-04 11:57:00,United Kingdom,GBP,EBAY,EBAY1,NaT,0.0,NaN,0.0,0.0,NaN

In [22]:
dfed.to_excel('iade_edali.xlsx')